.accordion-button::after {
  position: absolute;
  top: 30px;
  left: 24px;
}
.card-header {

 background: #000;
  font-family: $uthmanic_font;
  /* padding: 10px; */
  /* text-align: center; */
  color: #b97e12;
  /* border: 1px solid #FFF; */
  border-radius: 5px;
  cursor: pointer
}
// body[dir=ltr] .hero_section_wrapper .slider_image_wrapper {
//   height: 1400px;
// }
